@model charamuscas.entities.Models.login
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/img/controlX.png">
    <title>Iniciar Sesión | ControlX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/charamuscas.mvc.styles.css" asp-append-version="true" />
    <!--Icons-->
    <script src="https://kit.fontawesome.com/be9e926d45.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h2 class="text-center">ControlX</h2>
        <p class="text-center text-secondary fs-6 m-0">Sistema de inventario y ventas.</p>
        <div class="row g-4">
            <form asp-action="Login" asp-controller="Usuarios" method="post">

                <div class="col-12">
                    <input type="text"
                           asp-for="nombre_usuario"
                           placeholder="Usuario"
                           class="form-control my-3" />
                </div>

                <div class="col-12 position-relative w-100">
                    <input type="password"
                           asp-for="clave"
                           placeholder="Contraseña"
                           class="form-control my-2" />
                    <button type="button" id="btnEye" class="position-absolute top-0 bottom-0 end-0 d-flex align-items-center px-3 py-2 rounded bg-transparent border-0" onclick="handlePassword()">
                        <i id="iconEye" class="fas fa-eye text-secondary"></i>
                    </button>
                </div>

                <div>
                    <button type="submit" class="btn btn-dark w-100">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>

<script>
    const btnEye = document.getElementById('btnEye');
    const iconEye = document.getElementById('iconEye');
    const inputPassword = document.getElementById('clave');

    const handlePassword = () => {
        if (iconEye.classList.contains('fa-eye')) {
            inputPassword.setAttribute('type', 'text');
            iconEye.classList.replace('fa-eye', 'fa-eye-slash');
        }
        else {
            inputPassword.setAttribute('type', 'password');
            iconEye.classList.replace('fa-eye-slash', 'fa-eye');
        }
    }
</script>