@{
    ViewData["Title"] = "Inicio";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Reporte</h1>
    <button class="btn btn-success mb-4">Exportar Excel </button>
    <div class="row g-4">

        <!-- Medium item -->
        <div class="col-md-4">
            <div class="bento-item flex-column border-start border-warning text-dark">
                <span class="fw-bold">Ventas del Mes</span>
                <span id="ventasMes"></span>
            </div>
        </div>
        <!-- Medium item -->
        <div class="col-md-4">
            <div class="bento-item flex-column border-start border-info text-dark">
                <span class="fw-bold">Ganancias del Mes</span>
                <span id="gananciasMes"></span>
            </div>
        </div>
        <!-- Medium item -->
        <div class="col-md-4">
            <div class="bento-item flex-column border-start border-secondary text-dark">
                <span class="fw-bold">Margen de ganancias del Mes</span>
                <span id="margenGananciasMes"></span>
            </div>
        </div>

        <!-- Large item -->
        <div class="col-md-8">
            <div class="bento-item bento-tall border-start border-primary">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <!-- Two small items -->
        <div class="col-md-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bento-item border-start border-success">
                        <canvas id="myChart1" ></canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bento-item border-start border-danger">
                        <canvas id="myChart2" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Funciones auxiliares para formatear moneda y número
        function formatCurrency(number) {
            return new Intl.NumberFormat('es-MX', { // Ajusta la localización si es necesario
                style: 'currency',
                currency: 'MXN' // Ajusta la moneda si es necesario
            }).format(number);
        }

        function formatNumber(number) {
            return new Intl.NumberFormat('es-MX', { // Ajusta la localización si es necesario
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            }).format(number);
        }

        function formatPercent(number) {
            return new Intl.NumberFormat('es-MX', { // Ajusta la localización si es necesario
                style: 'percent',
                minimumFractionDigits: 0,
                maximumFractionDigits: 0
            }).format(number);
        }
    </script>
    @section Scripts{
        <script>

            //Obtener ventas, ganancias y margen de ganancias del mes
            $(document).ready(function () {
                //Traer ventas, ganancias y margen de ganancias del mes en formato JSON
                var _url = '@Url.Action("Ventas", "Reporte")';

                $.get(_url).done(function (res) {
                    console.log(res);
                    //Transformar ventas, ganancias y margen de ganancias del mes en visualizacion HTML
                    if (res != null) {
                        var spanVentas = document.getElementById('ventasMes');
                        var spanGanancias = document.getElementById('gananciasMes');
                        var spanMargenGanancias = document.getElementById('margenGananciasMes');

                        spanVentas.textContent = formatCurrency(res.ventas);
                        spanGanancias.textContent = formatCurrency(res.ganancias);
                        spanMargenGanancias.textContent = formatPercent(res.margenGanancias);
                    }

                }).fail(function (err) { console.log(err.responseText) })
            })

            $(document).ready(function () {
                //Traer ganancias en formato JSON
                var _url = '@Url.Action("Ganancias", "Reporte")';

                $.get(_url).done(function (res) {
                    console.log(res);
                    //Transformar mis ganancias en grafico tipo bar
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar', // Tipo de gráfico
                        data: {
                            labels: res.mesGanancia,
                            datasets: [{
                                label: 'Ganancias del año',
                                data: res.gananciaTotal,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function (value) {
                                            return '$' + value.toLocaleString(); // Formato de dinero
                                        }
                                    }
                                }
                            }
                        }
                    });
                }).fail(function (err) { console.log(err.responseText) })
            })

            $(document).ready(function () {
                //Traer top categorias en formato JSON
                var _url = '@Url.Action("ProductosMasVendidos", "Reporte")';

                $.get(_url).done(function (res) {
                    console.log(res);
                //Transformar mi top categorias en grafico tipo doughnut
                var ctx1 = document.getElementById('myChart1').getContext('2d');
                var myChart1 = new Chart(ctx1, {
                    type: 'doughnut', // Tipo de gráfico
                    data: {
                        labels: res.nombre,
                        datasets: [{
                            label: 'Categorias con mas ventas',
                            data: res.cantidad,
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                    
                }).fail(function (err) { console.log(err.responseText) })
            })
        </script>
    }