@{
    ViewData["Title"] = "Inicio";
}

<div class="container my-2">
    <h1 class="text-center mb-4">Reporte</h1>
    <button class="btn btn-success mb-4">Exportar Excel </button>
    <div class="row g-4">
        <p class="text-end text-secondary fs-6 m-0">Utilidad bruta</p>
        <!-- Medium item -->
        <div class="col-md-4">
            
            <div class="bento-item flex-column border-start border-warning text-dark">
                <span class="fw-bold text-wrap">Ventas del Mes</span>
                <span id="ventasMes"></span>
            </div>
        </div>
        <!-- Medium item -->
        <div class="col-md-4">
            <div class="bento-item flex-column border-start border-info text-dark">
                <span class="fw-bold text-wrap">Ganancias del Mes</span>
                <span id="gananciasMes"></span>
            </div>
        </div>
        <!-- Medium item -->
        <div class="col-md-4">
            <div class="bento-item flex-column border-start border-secondary text-dark">
                <span class="fw-bold text-wrap">Rentabilidad del Mes</span>
                <span id="margenGananciasMes"></span>
            </div>
        </div>

        <p class="text-end text-secondary fs-6 m-0">Utilidad Neta</p>
        <!-- Large item -->
        <div class="col-md-8">
            <div class="bento-item bento-tall border-start border-primary">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <!-- Two small items -->
        <div class="col-md-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bento-item border-start border-success">
                        <canvas id="myChart1" ></canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bento-item border-start border-danger">
                        <canvas id="myChart2" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js"></script>
    @section Scripts{
        <script>

            //Obtener ventas, ganancias y margen de ganancias del mes
            $(document).ready(function () {
                //Traer ventas, ganancias y margen de ganancias del mes en formato JSON
                var _url = '@Url.Action("Ventas", "Reporte")';

                $.get(_url).done(function (res) {
                    console.log(res);
                    //Transformar ventas, ganancias y margen de ganancias del mes en visualizacion HTML
                    if (res != null) {
                        var spanVentas = document.getElementById('ventasMes');
                        var spanGanancias = document.getElementById('gananciasMes');
                        var spanMargenGanancias = document.getElementById('margenGananciasMes');

                        spanVentas.textContent = formatCurrency(res.ventas);
                        spanGanancias.textContent = formatCurrency(res.ganancias);
                        spanMargenGanancias.textContent = formatPercent(res.margenGanancias);
                    }

                }).fail(function (err) { console.log(err.responseText) })
            })

            //Obtener ganancias del año utilidad neta
            $(document).ready(function () {
                //Traer ganancias en formato JSON
                var _url = '@Url.Action("Ganancias", "Reporte")';

                $.get(_url).done(function (res) {
                    console.log(res);
                    //Transformar mis ganancias en grafico tipo bar
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line', // Tipo de gráfico
                        data: {
                            labels: res.mesGanancia,
                            datasets: [{
                                label: 'Ganancias del año',
                                data: res.gananciaTotal,
                                fill: false,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function (value) {
                                            return '$' + value.toLocaleString(); // Formato de dinero
                                        }
                                    }
                                }
                            }
                        }
                    });
                }).fail(function (err) { console.log(err.responseText) })
            })

            //Obtener categorias mas vendidas
            $(document).ready(function () {
                //Traer top categorias en formato JSON
                var _url = '@Url.Action("CategoriasMasVendidas", "Reporte")';

                $.get(_url).done(function (res) {
                    console.log(res);
                //Transformar mi top categorias en grafico tipo doughnut
                var ctx1 = document.getElementById('myChart1').getContext('2d');
                var myChart1 = new Chart(ctx1, {
                    type: 'doughnut', // Tipo de gráfico
                    data: {
                        labels: res.nombre,
                        datasets: [{
                            label: 'Categorias con mas ventas',
                            data: res.cantidad,
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 4
                        }]
                    }
                });
                    
                }).fail(function (err) { console.log(err.responseText) })
            })

            //Obtener productos mas vendidos
            $(document).ready(function () {
                //Traer ganancias en formato JSON
                var _url = '@Url.Action("ProductosMasVendidos", "Reporte")';

                $.get(_url).done(function (res) {
                    //Transformar mis ganancias en grafico tipo bar
                    var ctx2 = document.getElementById('myChart2').getContext('2d');
                    var myChart2 = new Chart(ctx2, {
                        type: 'bar', // Tipo de gráfico
                        data: {
                            labels: res.nombre,
                            datasets: [{
                                label: 'Productos con mas Ventas',
                                data: res.cantidad,
                                backgroundColor: [
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                ],
                                borderColor: [
                                    'rgb(75, 192, 192)',
                                    'rgb(54, 162, 235)',
                                    'rgb(153, 102, 255)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                }
                            }
                        }
                    });
                }).fail(function (err) { console.log(err.responseText) })
            })
        </script>
    }